@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello</h1>
    <p>If you see this page, then your GitHub Actions pipeline has worked!</a>.</p>
</div>
